---
import ReviewCard from '../../components/atoms/ReviewCard.astro';

import carlos from '../../assets/images/carlos.jpg';
import james from '../../assets/images/james.jpg';
import natalia from '../../assets/images/natalia.jpg';

const items = [
	{
		slogan: 'Highly recommended!',
		description:
			"I would use them again in a heartbeat. After the inspection, me and the exterminators agreed to a treatment. They went to work 10 minutes later! Diligent, thorough, and professional. I don't think any pest has a chance. Highly recommended!",
		picture: james,
		name: 'James A.',
	},
	{
		slogan: 'Best 15 minute call I ever had',
		description:
			"A quick google search about cockroaches taught me I needed to find an exterminator. No way I'm going near those things. No To Pests is fast, efficient, and straight to the point. Best 15 minute call I ever had.",
		picture: natalia,
		name: 'Natalia T.',
	},
	{
		slogan: 'Saved our restaurant',
		description:
			'We have a small family restaurant so rats are a BIG problem for us. Needing a solution overnight, No To Pests came to the rescue. They practically saved our restaurant. They are the real deal!',
		picture: carlos,
		name: 'Carlos G. & Miranda G.',
	},
];
---

<section class="relative">
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<h2 class="text-4xl md:text-5xl leading-tighter tracking-tighter mb-4 font-heading">
					<span class="text-custom-orange-two">Our Happy</span> Community of Pest-Free Customers
				</h2>
			</div>

			<div id="indicators-carousel" class="relative" data-carousel="static">
				<!-- Carousel wrapper -->
				<div class="relative h-56 overflow-hidden rounded-lg md:h-96 md:m-20 md:p-10">
					<!-- Item 1 -->
					<div
						class="duration-700 ease-in-out absolute inset-0 transition-all transform translate-x-0 z-20"
						data-carousel-item="active"
					>
						<ReviewCard
							name={items[0].name}
							slogan={items[0].slogan}
							description={items[0].description}
							picture={items[0].picture}
						/>
					</div>
					<!-- Item 2 -->
					<div
						class="duration-700 ease-in-out absolute inset-0 transition-all transform translate-x-full z-10"
						data-carousel-item=""
					>
						<ReviewCard
							name={items[1].name}
							slogan={items[1].slogan}
							description={items[1].description}
							picture={items[1].picture}
						/>
					</div>
					<!-- Item 3 -->
					<div class="hidden duration-700 ease-in-out absolute inset-0 transition-all transform" data-carousel-item="">
						<ReviewCard
							name={items[2].name}
							slogan={items[2].slogan}
							description={items[2].description}
							picture={items[2].picture}
						/>
					</div>
				</div>
				<!-- Slider indicators -->
				<div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
					<button
						type="button"
						class="w-3 h-3 rounded-full bg-custom-blue ring-2 ring-custom-blue dark:bg-gray-800"
						aria-current="true"
						aria-label="Slide 1"
						data-carousel-slide-to="0"></button>
					<button
						type="button"
						class="w-3 h-3 rounded-full bg-custom-blue ring-2 ring-custom-blue dark:bg-gray-800/50 hover:bg-white dark:hover:bg-gray-800"
						aria-current="false"
						aria-label="Slide 2"
						data-carousel-slide-to="1"></button>
					<button
						type="button"
						class="w-3 h-3 rounded-full bg-custom-blue ring-2 ring-custom-blue dark:bg-gray-800/50 hover:bg-white dark:hover:bg-gray-800"
						aria-current="false"
						aria-label="Slide 3"
						data-carousel-slide-to="2"></button>
				</div>
				<!-- Slider controls -->
				<button
					type="button"
					class="absolute top-0 left-0 z-30 items-center justify-center h-full px-4 cursor-pointer group focus:outline-none hidden md:flex"
					data-carousel-prev=""
				>
					<span
						class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-custom-blue group-hover:bg-custom-blue/50 group-focus:outline-none"
					>
						<svg
							aria-hidden="true"
							class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
							fill="none"
							stroke="currentColor"
							viewBox="0 0 24 24"
							xmlns="http://www.w3.org/2000/svg"
							><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
						</svg>
						<span class="sr-only">Previous</span>
					</span>
				</button>
				<button
					id="data-carousel-next"
					type="button"
					class="absolute top-0 right-0 z-30 items-center justify-center h-full px-4 cursor-pointer group focus:outline-none hidden md:flex"
					data-carousel-next=""
				>
					<span
						class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-custom-blue group-hover:bg-custom-blue/50 group-focus:outline-none"
					>
						<svg
							aria-hidden="true"
							class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
							fill="none"
							stroke="currentColor"
							viewBox="0 0 24 24"
							xmlns="http://www.w3.org/2000/svg"
							><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
						</svg>
						<span class="sr-only">Next</span>
					</span>
				</button>
			</div>
		</div>
	</div>
</section>
