---
import carlos from '../../assets/images/carlos.jpg';
import james from '../../assets/images/james.jpg';
import natalia from '../../assets/images/natalia.jpg';

import ReviewPane from '../atoms/ReviewPane.astro';

const items = [
	{
		slogan: 'Highly recommended!',
		description:
			"I would use them again in a heartbeat. After the inspection, me and the exterminators agreed to a treatment. They went to work 10 minutes later! Diligent, thorough, and professional. I don't think any pest has a chance. Highly recommended!",
		picture: james,
		name: 'James A.',
	},
	{
		slogan: 'Best 15 minute call I ever had',
		description:
			"A quick google search about cockroaches taught me I needed to find an exterminator. No way I'm going near those things. No To Pests is fast, efficient, and straight to the point. Best 15 minute call I ever had.",
		picture: natalia,
		name: 'Natalia T.',
	},
	{
		slogan: 'Saved our restaurant',
		description:
			'We have a small family restaurant so rats are a BIG problem for us. Needing a solution overnight, No To Pests came to the rescue. They practically saved our restaurant. They are the real deal! We will definitely hire them again next time.',
		picture: carlos,
		name: 'Carlos & Rose',
	},
];
---

<section class="relative">
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<h2 class="text-4xl md:text-5xl leading-tighter tracking-tighter mb-4 font-heading text-custom-blue-two">
					<span class="text-custom-orange-two">Our Happy</span> Community of Pest-Free Customers
				</h2>
			</div>
			<div class="swiper mySwiper">
				<div class="swiper-wrapper pb-6">
					<ReviewPane
						name={items[0].name}
						slogan={items[0].slogan}
						description={items[0].description}
						picture={items[0].picture}
					/>
					<ReviewPane
						name={items[1].name}
						slogan={items[1].slogan}
						description={items[1].description}
						picture={items[1].picture}
					/>
					<ReviewPane
						name={items[2].name}
						slogan={items[2].slogan}
						description={items[2].description}
						picture={items[2].picture}
					/>
				</div>

				<div class="swiper-pagination"></div>
			</div>
		</div>
	</div>
</section>
